<% if upvoted?(post) %>
  <%= form_for([post, get_upvote(post)], method: :delete, remote: true) do |f| %>
    <%= f.button "<span class='glyphicon glyphicon-chevron-up'></span>".html_safe, class: 'downvote' %>
  <% end %>
<% else %>
  <%= form_for([post, post.upvotes.build], remote: true) do |f| %>
    <%= f.button "<span class='glyphicon glyphicon-chevron-up'></span>".html_safe, class: 'upvote' %>
  <% end %>
<% end %>
