<% if downvoted?(post) %>
  <%= form_for([post, get_downvote(post)], method: :delete, remote: true) do |f| %>
    <%= f.button "<span class='glyphicon glyphicon-chevron-down'></span>".html_safe, class: 'upvote' %>
  <% end %>
<% else %>
  <%= form_for([post, post.downvotes.build], remote: true) do |f| %>
    <%= f.button "<span class='glyphicon glyphicon-chevron-down'></span>".html_safe, class: 'downvote' %>
  <% end %>
<% end %>
