<% if favored?(post) %>
  <%= form_for([post, get_favorite(post)], method: :delete, remote: true) do |f| %>
    <%= f.button "<span class='glyphicon glyphicon-star'></span>".html_safe %>
  <% end %>
<% else %>
  <%= form_for([post, post.favorites.build], remote: true) do |f| %>
    <%= f.button "<span class='glyphicon glyphicon-star-empty'></span>".html_safe %>
  <% end %>
<% end %>
