$("#comment-<%= @comment_id %>").remove();
$("#comment-count").html("(<%= @post.comments.count %>)");

<% if @post.comments.count == 0 %>
  $("#comments").html("<div class='text-center'>No Comments</div>".html_safe);
<% end %>