<%= form_tag post_comments_path(post_id: post.id), remote: true do %>
  <div class="form-group">
    <%= text_area_tag 'content', nil, id: 'new-content', class: 'form-control', placeholder: 'Enter comment' %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Comment', id: 'comment', class: 'btn btn-primary', style: 'background-color: #428bca;border-color: #357ebd;' %>
  </div>
<% end %>
